@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
    /* Apply margin and padding globally */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box; /* Recommended for consistent box sizing */
    }
}